// Primary Color

$orange: hsl(25, 97%, 53%);

// Neutral Color

$white: hsl(0, 0%, 100%);
$light-grey: hsl(218, 22%, 62%);
$medium-grey: hsl(217, 16%, 26%);
$dark-blue: hsl(214, 22%, 20%);
$very-dark-blue: hsl(216, 14%, 7%);